<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.admin.server.dao.AppMenuMapper">
    <resultMap id="BaseResultMap" type="com.app.admin.server.bean.AppMenu">
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="keep_alive" jdbcType="BIT" property="keepAlive"/>
        <result column="require_auth" jdbcType="BIT" property="requireAuth"/>
        <result column="menu_parent_id" jdbcType="INTEGER" property="menuParentId"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <association property="meta" javaType="com.app.admin.server.bean.MenuMeta">
            <result column="keepAlive" property="keepAlive"/>
            <result column="requireAuth" property="requireAuth"/>
        </association>
        <collection property="appRoles" ofType="com.app.admin.server.bean.AppRole">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="role_zh_name" property="roleZhName"/>
        </collection>
        <collection property="children" ofType="com.app.admin.server.bean.AppMenu">
            <id column="menu_Id2" property="menuId"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <association property="meta" javaType="com.app.admin.server.bean.MenuMeta">
                <result column="keepAlive2" property="keepAlive"/>
                <result column="requireAuth2" property="requireAuth"/>
            </association>
            <collection property="children" ofType="com.app.admin.server.bean.AppMenu">
                <id column="menu_Id3" property="menuId"/>
                <result column="name3" property="name" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllMenu" resultMap="BaseResultMap">
        select m.*,r.`role_id` as roleId,r.`role_name` as roleName,r.`role_zh_name` as roleZhName from app_menu m left join app_menu_role mr on m.`menu_id`=mr.`menu_id` left join app_role r on mr.`role_id`=r.`role_id` WHERE m.`enabled`=true order by m.`menu_id` desc
    </select>
    <select id="getMenusByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select m1.`menu_id`,m1.`path`,m1.`component`,m1.`name`,m1.`require_auth`,m2.`component` as component2,m2.`keep_alive` as keepAlive2,m2.`name` as name2,m2.`path` as path2,m2.`require_auth` as requireAuth2 from app_menu m1,app_menu m2 where m1.`menu_id`=m2.`menu_parent_id` and m1.`menu_id`!=1 and m2.`menu_id` in(select mr.`menu_id` from app_user_role u_r,app_menu_role mr where u_r.`role_id`=mr.`role_id` and u_r.`user_id`=#{userId}) and m2.`enabled`=true order by m1.`menu_id`,m2.`menu_id`
    </select>
    <select id="menuTree" resultMap="BaseResultMap">
        select m1.`menu_id`,m1.`name`,m2.`menu_id` as menu_id2,m2.`name` as name2,m3.`menu_id` as menu_id3,m3.`name` as name3 from app_menu m1,app_menu m2,app_menu m3 where m1.`menu_id`=m2.`menu_parent_id` and m2.`menu_id`=m3.`menu_parent_id` and m3.`enabled`=true
    </select>
    <select id="getMenusByRoleId" resultType="java.lang.Integer">
        SELECT menu_id from app_menu_role WHERE role_id=#{roleId}
    </select>
</mapper>