<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.admin.server.dao.AppUserMapper">
    <resultMap id="BaseResultMap" type="com.app.admin.server.bean.AppUser">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="com.app.admin.server.bean.AppUser"
               extends="BaseResultMap">
        <collection property="appRoles"
                    ofType="com.app.admin.server.bean.AppRole"
                    select="com.app.admin.server.dao.AppUserMapper.getRolesByUserId"
                    column="userId=user_id">
        </collection>
    </resultMap>
    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        select * from app_user where user_name=#{userName}
    </select>
    <select id="loadUserByPrimaryKey" parameterType="java.lang.Integer" resultMap="lazyLoadRoles">
        select *
        from app_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="getRolesByUserId" resultType="com.app.admin.server.bean.AppRole">
        select r.role_id as roleId,
        r.role_name as roleName,
        r.role_zh_name as roleZhName
        from app_user_role ur,app_role r
        where ur.role_id=r.role_id
        and ur.user_id=#{userId,jdbcType=INTEGER}
    </select>
    <select id="getAllAppUsers" resultMap="BaseResultMap">
        select * from app_user where user_id != 1
    </select>
    <insert id="insertAppUser" parameterType="com.app.admin.server.bean.AppUser">
        insert into app_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="phone != null">
                `phone`,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>

            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateAppUser" parameterType="com.app.admin.server.bean.AppUser">
        update app_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                `phone` = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                `address` = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                `enabled`= #{enabled,jdbcType=BIT},
            </if>
            <if test="remark != null">
                `remark` =#{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>