<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.admin.server.dao.AppUserMapper">
    <resultMap id="BaseResultMap" type="com.app.admin.server.bean.AppUser">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="com.app.admin.server.bean.AppUser"
               extends="BaseResultMap">
        <collection property="appRoles"
                    ofType="com.app.admin.server.bean.AppRole"
                    select="com.app.admin.server.dao.AppUserMapper.getRolesByUserId"
                    column="userId=user_id">
        </collection>
    </resultMap>


    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        select * from app_user where user_name=#{userName}
    </select>

    <select id="loadUserByPrimaryKey" parameterType="java.lang.Integer" resultMap="lazyLoadRoles">
        select *
        from app_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getRolesByUserId"  resultType="com.app.admin.server.bean.AppRole">
        select r.role_id as roleId,r.role_name as roleName,r.role_zh_name as roleZhName
        from app_user_role ur,app_role r
        where ur.role_id=r.role_id
        and ur.user_id=#{userId,jdbcType=INTEGER}
    </select>

</mapper>